*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #312e81
    );

    padding:20px;
}

.container{

    width:100%;
    max-width:700px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:25px;

    padding:35px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.3);

    color:white;
}

h1{
    text-align:center;
    font-size:2.3rem;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:30px;
}

textarea{

    width:100%;
    height:180px;

    border:none;
    outline:none;

    border-radius:15px;

    padding:18px;

    font-size:16px;

    resize:none;

    margin-bottom:20px;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        #6366f1,
        #8b5cf6
    );

    color:white;

    transition:0.3s;
}

button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 10px 20px rgba(99,102,241,0.4);
}

.result-card{

    margin-top:25px;

    padding:20px;

    border-radius:15px;

    background:rgba(255,255,255,0.08);

    text-align:center;
}

.spam{

    background:#ef4444;

    padding:12px;

    border-radius:12px;

    font-weight:600;

    margin-bottom:15px;
}

.safe{

    background:#22c55e;

    padding:12px;

    border-radius:12px;

    font-weight:600;

    margin-bottom:15px;
}

.prediction-text{

    font-size:18px;
}

.stats{

    display:flex;

    gap:15px;

    margin-top:30px;
}

.stat-box{

    flex:1;

    background:rgba(255,255,255,0.08);

    padding:20px;

    border-radius:15px;

    text-align:center;
}

.stat-box h3{

    font-size:24px;

    margin-bottom:5px;
}

footer{

    text-align:center;

    margin-top:25px;

    color:#cbd5e1;

    font-size:14px;
}